<head>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Sign in</title>

    <script>
        // var res;
        // function getAdmin() {
        //     console.log("getAdmin called")
        //     var xhttp = new XMLHttpRequest();
        //     xhttp.onreadystatechange = function () {
        //         if (this.readyState == 4 && this.status == 200) {
        //             res = JSON.parse(this.response)
        //             console.log("Admin details :");
        //             console.log(res)
        //         }
        //     };
        //     xhttp.open("POST", "/getAdminDetails", true);
        //     xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        //     xhttp.send({});
        // }
        // document.addEventListener('DOMContentLoaded', function () {
        //     getAdmin()
        // }, false);

        //         function login() {
        //             var name = document.getElementById('username').value;
        //             var pass = document.getElementById('password').value;
        //             console.log(name)
        //             console.log(pass)
        //             console.log(res)
        //             if (name === res['username'] && pass === res['password']) {
        //                 document.getElementById('invalid').style.display = "none";
        //                 document.getElementById('main').style.height = 300;
        //                 var xhttp = new XMLHttpRequest();
        //                 xhttp.onreadystatechange = function () {
        //                     if (this.readyState == 4 && this.status == 200) {
        // this.response
        //                     }
        //                 };
        //                 xhttp.open("POST", "/", true);
        //                 xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        //                 xhttp.send({});
        //             } else {
        //                 document.getElementById('invalid').style.display = "inline-block";
        //                 document.getElementById('main').style.height = 350;

        //             }
        //         }
    </script>

</head>

<body>
    <img src="/static/readrise_bg.jpg" alt="hostel-image" class="bg-img">
    <div class="login-body">
        <div class="main" id="main">
            <p class="sign" style="text-align:center">Log in</p>
            <form action="/" method="post" class="form1" name="f1">
                <input id="username" class="un " required name="username" type="text" style="text-align:center"
                    placeholder="Username">
                <input id="password" class="pass" required name="password" type="password" style="text-align:center"
                    placeholder="Password">
                <p id="invalid" style="color: red; font-size: 14px; display: none; margin-bottom: 20px;">Invalid
                    Credentials!</p>
                <br>
                <button type="button" onclick="login()" class="submit" style="text-align:center">Log in</button>
                <!-- <button type="button" onclick="login()" class="submit" style="text-align:center">Log in</button> -->
                <!-- <a class="submit" style="text-align:center">Log in</a> -->
                <!-- <p class="forgot" style="text-align:center"><a href="#">Forgot Password?</p> -->
        </div>
    </div>

    <script>
        function login() {

                let username = document.f1.username.value;
                let password = document.f1.password.value;

                // document.getElementById("loader").style.display = "inline-block";

                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {

                        // document.getElementById("loader").style.display = "none";

                        var res = JSON.parse(this.response);
                        console.log(res)
                        
                        if(res['status']){
                            document.getElementById("invalid").style.display = "none";
                            document.getElementById("main").style.height = "300px";
                            
                            window.location.assign("/dashboard")

                            // document.write(res["page"]);
                        }else{
                            document.getElementById("invalid").style.display = "block";
                            document.getElementById("main").style.height = "350px";
                        }

                        // document.getElementById("cohesion").innerHTML = res[0][0].toFixed(2);

                        console.log(this.responseText)

                    }
                };
                xhttp.open("POST", "/", true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                let body = `username=${username}&password=${password}`
                xhttp.send(body);
            }
    </script>
</body>

</html>