<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> BookBuzz </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/static/signupPagestyle.css">
    <script src="/static/snackbar_script.js"></script>
    <title>SignUp Page</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form name="f2">
                <h1>Create Account</h1>
                <!-- <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registeration</span> -->
                <input name="username" type="text" placeholder="Name" required>
                <input name="email" type="email" placeholder="Email" required>
                <input name="password" type="password" placeholder="Password" required>
                <p id="error" style="color: red; font-size: 14px; display: none; margin-bottom: 20px;">Something went wrong! Please try again later</p>
                <button type="button" class="black-button" onclick="signup()">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form name="f1">
                <h1>Sign In</h1>
                <!-- <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email password</span> -->
                <input name="email" type="email" placeholder="Email" required>
                <input name="password" type="password" placeholder="Password" required>
                <!-- <a href="#">Forget Your Password?</a> -->
                <p id="invalid" style="color: red; font-size: 14px; display: none; margin-bottom: 20px;">Invalid
                    Credentials!</p>
                <button type="button" class="black-button" onclick="login()">Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome to BOOKBUZZ</h1>
                    <p>Start the chapter of success for your book. Register for sales-boosting analytics.</p>
                    
                    <button class="hidden white-button" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Welcome Back!</h1>
                    <p>Your books' success story continues ... log in for insights.</p>
                    <button class="hidden white-button" id="register">Sign Up</button>
                </div>
            </div>
        </div>

    </div>
    <!-- snackbar -->
    <div id="snackbar"></div>



   <script>
    const container = document.getElementById('container');
    const registerBtn = document.getElementById('register');
    const loginBtn = document.getElementById('login');

    registerBtn.addEventListener('click', () => {
    container.classList.add("active");});

     loginBtn.addEventListener('click', () => {
    container.classList.remove("active");});
   </script>

   <script>
            function login() {

                    let email = document.f1.email.value.trimEnd();
                    let password = document.f1.password.value.trimEnd();
                    
                    if(email == "" || password == "") return;

                    // document.getElementById("loader").style.display = "inline-block";

                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {

                            // document.getElementById("loader").style.display = "none";
                            console.log(this.responseText)
                            var res = JSON.parse(this.response);
                            console.log(res)

                            if (res["status"]) {
                                document.getElementById("invalid").style.display = "none";
                                showSnackBar("Login Successful", false)
                                setTimeout(function(){
                                    window.location.assign("/dashboard")
                                }, 1000)
                                // document.write(res["page"]);
                            } else {
                                document.getElementById("invalid").style.display = "block";
                            }
                            // document.getElementById("cohesion").innerHTML = res[0][0].toFixed(2);
                            console.log(this.responseText)

                        }
                    };
                    xhttp.open("POST", "/", true);
                    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    let body = `email=${email}&password=${password}`
                    xhttp.send(body);
                }

            function signup() {

                    let username = document.f2.username.value;
                    let email = document.f2.email.value;
                    let password = document.f2.password.value;

                    // document.getElementById("loader").style.display = "inline-block";

                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {

                            // document.getElementById("loader").style.display = "none";
                            console.log(this.responseText)
                            var res = JSON.parse(this.response);

                            if (res['status']) {
                                document.getElementById("error").style.display = "none";
                                showSnackBar("Registered Successfully", false)
                                setTimeout(function () {
                                    window.location.assign("/dashboard")
                                }, 1000)
                                // document.write(res["page"]);
                            } else {
                                document.getElementById("error").style.display = "block";
                                showSnackBar("Registration Failed", false)
                            }
                            // document.getElementById("cohesion").innerHTML = res[0][0].toFixed(2);
                            console.log(this.responseText)

                        }
                    };
                    xhttp.open("POST", "signup", true);
                    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    let body = `username=${username}&email=${email}&password=${password}`
                    xhttp.send(body);
                }
   </script>
</body>

</html>